* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    
}


header {
    background-color: #9fa110;
    color: #fff;
    padding: 10px;
    position:sticky;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
}

.nav-left a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right p {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
    background: linear-gradient( to right,red,blue,green),red;
    background-clip: text;
    color: transparent;
}


.photo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px); 
    /* background-image: url("https://img.freepik.com/free-photo/beautiful-night-sky-with-shiny-stars_53876-16414.jpg?size=626&ext=jpg"); */
    /* background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #333;
}

.photo-container {
    text-align: center;
    position: relative;
    
}

.download-btn {
    border:solid #007bff 4px;
    color: #007bff;
    padding: 8px;
    margin: 30px auto;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.download-btn::after{
    content: '';
    position: absolute;
    height:100%;
    width : 100%;
    top: 50%;
    left:50%;
    background: red;
    translate: -50% -50%;
    z-index: -5;
    padding: 3px;

}

.photo-container img {
    border-radius: 50%;
    width: 200px; 
    height: 200px;
    object-fit: cover;
}

.info {
    margin-top: 20px;
    color: #f4f4f4;
    max-width: 80%;
    margin: auto;
}

.info h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color:#007bff;
}

.info p {
    font-size: 1rem;
    color: #ffffff;
    text-align: justify;
}


.academics-training {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 1200px;
}

.academics, .training {
    width: 45%;
}

.academics h2, .training h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.academic-details, .training-details {
    margin-top: 10px;
}

.academic-details h3, .training-details h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #555;
}

.academic-details p, .training-details p {
    font-size: 1rem;
    color: #666;
}


.experience {
    padding: 20px;
    background-color: #987adf;
    margin: 20px auto;
    max-width: 1200px; 
}

.experience h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}

.work-experience {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    background-color:  #8bc498;
    color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.work-name {
    width: 45%;
}

.work-name h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #f8f8f8;
}

.work-details {
    width: 45%;
    text-align: right;
    
}

.work-details p {
    font-size: 1rem;
    color: #f8f8f8;
}


.projects {
    padding: 20px;
    background-color: #f4f4f4;
    margin: 20px auto;
    max-width: 1200px; 
}

.projects h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}

.project-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-image {
    width: 100%;
    margin-right: 20px;
    flex-shrink: 0;
    scroll-snap-align: center; 
}

.wrapper {
  display : flex;
  gap: 20px;
  width: 45%;
  overflow-x:scroll;
  scroll-snap-type: x mandatory;
  flex-direction:row-reverse;
}   

.wrapper::-webkit-scrollbar {
    display:none;
}

.project-image img {
    width: 100%;
    border-radius: 8px;
}

.view-all-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;
}

.project-description {
    width: 50%;
}

.project-description h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555;
}

.project-description p {
    font-size: 1rem;
    color: #666;
}